.search-form {
  display: flex;
  flex-direction: column;
  background-color: #febb02;
  padding: 16px;
  border-radius: 12px;
}
.search-form__title {
  color: #585554;
  padding: 8px 0;
}

.search-form__required {
  display: flex;
  flex-direction: column;
}

.search-form__required input {
  border: none;
}

.search-form__required input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 4px;
}

.search-form__options {
  display: flex;
  flex-direction: column;
}

.search-form__options input {
  border-color: #ccc;
}

.search-form__options label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  padding: 4px 12px;
}
.search-form__options label input {
  width: 25%;
  font-size: 14px;
}

.search-form__submit {
  margin-top: 20px;
  padding: 12px 0;
  display: inline-block;
  width: 100%;
  background-color: #0071c2;
  color: #fff;
  border: none;
}

h3.search-form__sub-title {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  padding: 8px 0;
}
input {
  outline: none;
}
/* 
585554
#0071c2

*/
.date-picker {
  position: absolute;
  background: #fff;
  z-index: 1;
  box-shadow: 1px 1px 13px 5px #ccc;
}
