.backdrop {
  padding: 60px 35px;
  background-color: #f6f9f6;
  text-transform: uppercase;
  margin-bottom: 20px;
  .left {
    font-size: 24px;
  }
  .right {
    color: #9b9b9b;
    text-align: right;
  }
}
