.search {
  position: absolute;
  top: 100%;
  width: 100%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px 30px;
  border: 2px solid #febb02;
  border-radius: 2px;
  color: #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.search__icon {
  margin-right: 8px;
}

.search__input {
  border: none;
  outline: none;
  width: 100%;
}
.search__input::placeholder {
  color: #d3d3d3;
}
.search__input:focus::placeholder {
  color: #818181;
  font-weight: 600;
}
.search__submit {
  border-color: transparent;
  padding: 8px;
  background-color: #0071c2;
  color: #fff;
  cursor: pointer;
}
.search__label {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 4px;
}
.search__label input {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  padding: 8px;
}
.search__label input:focus {
  border: 2px solid #0071c2;
}
.select__city {
  width: 100%;
  padding: 0 12px;
}
.date-picker {
  position: absolute;
  top: 100%;
}
