.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.address {
  font-size: 14px;
  padding: 8px 0;
}
.address .icon {
  margin-right: 12px;
}

.body {
  padding: 0 12px;
}

.distance {
  color: #0b7ac8;
}

.price {
  color: #108937;
}

.distance,
.price {
  padding: 8px 0;
  font-size: 16px;
  font-weight: 600;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
.photos img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  padding: 0 12px;
}

.footer__left {
  width: 70%;
  flex-basis: 70%;
}

.title {
  font-size: 24px;
  padding: 12px 0;
}

.description {
  font-size: 14px;
}

.footer__right {
  background-color: #ebf3ff;
  width: 30%;
  flex-basis: 30%;
  padding: 16px;
}
.footer__right h3,
.footer__right p {
  padding: 12px 0;
}

.nine_night_price {
  font-size: 28px;
  padding: 16px 0;
}
.nine_night_price .dollar {
  font-weight: bold;
}
