.city-block {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  line-height: 0;
  cursor: pointer;
}

.city-block__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.city-block__description {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 20px;
}

.city-block__name {
  font-size: 24px;
  line-height: 1.5;
}

.city-block__sub-text {
  font-size: 14px;
  line-height: 1;
}
