.hotel-block {
  width: 100%;
  max-width: 100%;
}
.hotel-block__thumbnail {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hotel-block__name {
  font-size: 18px;
}
.hotel-block__city {
  color: #535353;
  padding: 8px 0;
  font-weight: 400;
}
.hotel-block__price {
  font-weight: 600;
  padding: 4px 0 8px;
}
.hotel-block__review {
  display: flex;
  align-items: center;
}
.hotel-block__rate {
  color: #fff;
  background-color: #003580;
  padding: 4px;
}
.hotel-block__type {
  margin-left: 8px;
}
