.top-level {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.top-level__logo {
  color: #fff;
}

.top-level__actions {
  display: flex;
}

.top-level__register {
  margin-right: 16px;
}

.top-level__login,
.top-level__register {
  padding: 4px 8px;
}
