.form-subscribe {
  text-align: center;
  color: #fff;
}

.form-subscribe__title {
  font-size: 36px;
  padding: 20px 0;
}

.form-subscribe__cta {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}
.form-subscribe__form {
  padding-bottom: 30px;
}
.form-subscribe__input,
.form-subscribe__submit {
  outline: none;
  border-radius: 8px;
  padding: 12px 4px;
  border-color: transparent;
}

.form-subscribe__submit {
  color: #fff;
  background-color: #0071c2;
  margin-left: 8px;
  cursor: pointer;
}
